.advice__container {
  background-color: #323a49;
  max-width: 100%;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.advice__content {
  min-width: 100%;
  height: 30vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4%;
  padding: 0;
  margin: 0;
}
.advice__number {
  color: #52ffa8;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0 auto;
  padding: 0;
  min-width: 123px;
}
.advice__text__container {
  max-width: 90%;
  min-height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
}
.advice__text__content {
  margin: 0 auto;
  color: white;
  padding: 0;
  text-align: center;
}
.advice__splitter {
  padding: 5% 0 0 0;
  margin: 0;
  max-width: 100%;
}
.advice__button__container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
}
.advice__button__container_button {
  max-width: 64px;
  max-height: 64px;
  cursor: pointer;
  position: relative;
  right: 0;
  top: 75px;
}

@media only screen and (max-width: 425px) {
  .advice__text__content {
    font-size: 24px;
  }
  .advice__content {
    max-width: 95%;
    height: 30vh;
  }
}
